.scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 15;
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--animation), visibility var(--animation);
}

.scrollToTop.visible {
    opacity: 0.8;
    visibility: visible;
}

.scrollToTop.hidden {
    opacity: 0;
    visibility: hidden;
}

.button {
    background-color: var(--color-main-button);
    color: var(--color-categories);
    border-radius: 100%;
    padding: 10px;
    cursor: pointer;
    transition: transform var(--animation), opacity var(--animation);
    animation: bounce 2s infinite;
}

.button:hover {
    opacity: 1;
}

.icon {
    font-size: 24px;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}