/* .dark-theme {
    --color-main-text: #E0E6EE;
    --color-light-text: rgba(224, 230, 238, 0.6);
    --color-categories: #1F2933;
    --color-main-button: #E44848;
    --color-main-button-hover: #D84343;
    --color-input: #2E3A47;
    --color-filter: #667185;
    --color-stars: #FFC531;
    --color-white: #0F172A;
    --color-scroll: #4B5563;
    --color-white-alfa: rgba(15, 23, 42, 0.7);
    --color-border-button: rgba(224, 230, 238, 0.2);
    --color-line: rgba(224, 230, 238, 0.1);
    --color-backdrop: #1A202C;
    --color-shadow: rgba(0, 0, 0, 0.25);
    --color-map: #000;

    --toggle-bg-color: #34495e;
    --toggle-bg-color-checked: #f1c40f;
    --toggle-switch-color: #333;
    --toggle-sun-color: #ecf0f1;
    --toggle-moon-color: #f39c12;
    --toggle-sun-color-checked: #f39c12;
    --toggle-moon-color-checked: #ecf0f1;
} */
